* {
box-sizing: border-box;
border-style: solid;
margin: 5px
}

h1 {
text-align: center
}

img {
display: block;
margin-left: auto;
margin-right: auto;
height: 10%;
width: 10%
}

.burgerDiv {
/* overflow: auto; */
display: flex;
justify-content: center;
}

/* .uneaten {
float: left;
}

.eaten {
color: grey;
float: right;
} */

.formDiv {
clear: left
}