* {
box-sizing: border-box;
/* border-style: solid; */
margin: 5px
}

h1, h2 {
text-align: center
}

img {
display: block;
margin-left: auto;
margin-right: auto;
height: 10%;
width: 10%
}

.burgerDiv {
display: flex;
justify-content: center;
}

.eaten {
color: grey;
margin: 10px
}

.uneaten {
margin: 10px
}

.formDiv {
clear: left
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.form-group {
display: flex;
justify-content: center;
}